@import '../../util/_variables';

.hero {
  background: url('../../assets/lance-vance.jpg') 50% 20% / cover no-repeat;
  height: 30rem;
  position: relative;
  width: 100vw;
}

.h1 {
  color: $primary-color-500;
  font-size: 15rem;
  left: 5%;
  margin: 0;
  position: absolute;
  text-shadow: 10px 10px 0 black;
  top: 5%;
}
